*~
target/*
/*/target/*
*.iml
.idea/*
!.idea/runConfigurations
.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
*/.gradle/*
buildSrc
git.properties
*macosx.dylib
docker/kafka-logs/*
opt/*
Dockerfile

*.cache

*.class
